body{
    background-color: #666;
}

@keyframes spin {
    from {
        transform: rotate(0deg); 
    }
     
    to {
        transform: rotate(360deg);
    }
}


.taiji{
    width: 400px;
    height: 400px;
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 50%,#000000 51%,#000000 100%);
    border-radius: 50%;
    position: relative;
    margin: 250px auto;
    animation-duration: 3s;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.taiji::before{
    content: "";
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    background-color: white;
    border:80px black solid;
    border-radius: 50%;
    position: absolute;
    top: 25%;
}
.taiji::after{
    content: "";
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    background-color: black;
    border: 80px white solid;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
}

